<div class="row top-review-panel">
  <h5 class="theme-heading theme-md">Review of the day</h5>
  <div class="col-sm-3">
    <div class="theme-thumb-img ">
      <i class="glyphicon glyphicon-user"></i>
    </div>
  </div>
  <div class="col-sm-9">
    <p class="review-info"><span>Ravi kumar</span> wrote a review for <span>Atul D.</span></p>
  </div>
  <div>
    <blockquote>
      Great Service , would like you work with you soon. Awesome job ,keep it up!!.
    </blockquote>
  </div>
</div>
