<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <div class="col-sm-10 col-sm-offset-1">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">
                  <span class=" glyphicon glyphicon-tree-deciduous"></span>
                  Eayo
              </a>
          </div>
        <div class="row">
          <div class="search-div">
            <form class="form-inline">
              <div class="col-md-4">
                  <label class="input-custom-group">
                    <span>Find</span>
                    <span><input type="text" placeholder="Best Caterings , Events"/></span>
                  </label>
              </div>
              <div class="col-md-4">
                  <label class="input-custom-group">
                    <span>At</span>
                    <span><input type="text" placeholder="Delhi , Mumbai , Bengaluru"/></span>
                  </label>
              </div>
              <button class="btn btn-primary btn-sm" type="submit"><span><i class="glyphicon glyphicon-search"></i><span></button>
              <a class="btn btn-primary btn-sm" href="/signin">Sign in</a>
            </form>

          </div>
          <div class="nav-div">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/about">Find friends</a></li>
                <li><a href="/about">Events</a></li>
                <li><a href="/about">Locate</a></li>
            </ul>
          </div>
        </div>
        </div>

    </div>
</nav>
