<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<div class="site_wrapper">

<!--Header-->
    <header>
        <% include ../partials/navigation %>
    </header>
<!--Header-->

<!--Main container-->
    <main class="container">

    </main>
<!--Main container-->

<!--footer-->
    <footer>
        <% include ../partials/footer %>
    </footer>
<!--footer-->

</div>

<% include ../components/footer_scripts %>

</body>
</html>
