  <!DOCTYPE html>
  <html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body>

  <div class="site_wrapper">

  <!--Header-->
      <header>
          <% include partials/navigation %>
      </header>
  <!--Header-->

  <!--Main container-->
      <main class="container">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="row top-main-nav">

              <div class="col-md-4 current-city-holder">
                <h5 class="current-city-title theme-md">Ohire New Delhi</h5>
              </div>

              <div class="col-md-6 city-list-holder pull-right">
                <ul class="main-side-nav">
                  <li><a href="/">Mumbai</a></li>
                  <li><a href="/">Banglore</a></li>
                  <li><a href="/">Chennai</a></li>
                  <li><a href="/">Kolkata</a></li>
                  <li><a href="/">Pune</a></li>
                  <li><a href="/more">more</a></li>
                </ul>
              </div>

            </div>


            <div class="row main-panel-wrapper">
              <div class="main-panel col-md-8">
                <div class="custom-jumbotron">
                  <h4 class="theme-heading theme-lg">OHire is the best way to find best event organisers </h4>
                  <p>Search for best freelance event organiser at affordable prices in you city.
                    Also get hired by providing best service at minimum cost. So what you are upto?</p>
                    <br>
                  <a href="/register" class="btn btn-primary btn-sm bold-link">Create your free account</a>
                </div>
              </div>
              <div class=" side-panel col-md-4">
                <!--Top review of the day-->

                <% include components/top-review-of-day %>

                <!--Top review of the day-->

                <!--Most Popular freelancer-->
                <% include components/popular-freelancers %>
                <!--Most Popular Freelancer-->
              </div>

          </div>
        </div>
      </main>
  <!--Main container-->

  <!--footer-->
      <footer>
          <% include partials/footer %>
      </footer>
  <!--footer-->

  </div>

  <% include components/footer_scripts %>

  </body>
  </html>
